{% extends 'portal/layout.html.twig' %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col">
        {% include 'portal/partials/flash-messages.html.twig' %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>This is the index placeholder.</p>
      </div>
    </div>
  </div>

{% endblock %}
