{% extends 'portal/layout.html.twig' %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col">
        {% include 'portal/partials/flash-messages.html.twig' %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Oh... ah... yeah <span class="fa fa-heart">!</span></h1>
        <p>This is the index placeholder of your new $1G app.</p>
      </div>
    </div>
  </div>

{% endblock %}
