{% extends 'base.html.twig' %}

{% block body %}

  <nav class="app-navbar navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('portal_index') }}">Boilerplate</a>

    <div class="expand navbar-expand navbar-right ml-auto">
      <ul class="navbar-nav">
        {% if is_granted('ROLE_USER') %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="appAccountMenuDropdownBtn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar-wrapper">
                <img class="avatar" src="/static/avatar.png"/>
              </div>
              <span>{{ app.user.name }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="appAccountMenuDropdownBtn">
              <a class="dropdown-item" href="{{ path('portal_logout') }}">Logout</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-primary" href="{{ path('portal_login') }}">Sign In</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <main>
    {% block main %}{% endblock %}
  </main>

{% endblock %}
