{% extends 'mail/base.html.twig' %}

{% set reset_url = url('portal_password_reset', {'uniqueId': user.uniqueId, 'token': user.token}) %}

{% block body %}

  <p>
    Click on the following link to reset your password <br />
    <a href="{{ reset_url }}">{{ reset_url }}</a>
  </p>

{% endblock %}
