<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('build/app.css') }}">
  <style>
    {% block stylesheets %}{% endblock %}
  </style>
</head>
<body>
  {% block body %}{% endblock %}
  <script src="{{ asset('build/app.js') }}"></script>
  {% block javascripts %}{% endblock %}
</body>
</html>
