.app-login .spacer {
  font-weight: bold;
  font-size: 16px;
  color: #bbb;
}

.app-login .input-group {
  padding-left: 2em;
  padding-right: 2em;
}

.app-login .btn-facebook {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.app-login .btn-facebook .icon {
  font-size: 1.5em;
  margin-right: 0.5em;
}

.app-login .btn-facebook .label {
  position: relative;
  top: -4px;
}

.app-login .btn-submit {
  padding-left: 3em;
  padding-right: 3em;
}

.app-login .links {
  font-size: 1.1em;
}
